/.project
/csv
html/collection/cci/cci-content/dataType.html
html/collection/cci/cci-content/dataType.json
html/collection/cci/cci-content/dataType.ttl
html/collection/cci/cci-content/ecv.html
html/collection/cci/cci-content/ecv.json
html/collection/cci/cci-content/ecv.rdf
html/collection/cci/cci-content/ecv.ttl
html/collection/cci/cci-content/freq.html
html/collection/cci/cci-content/freq.json
html/collection/cci/cci-content/freq.rdf
html/collection/cci/cci-content/freq.ttl
html/collection/cci/cci-content/org.html
html/collection/cci/cci-content/org.json
html/collection/cci/cci-content/org.rdf
html/collection/cci/cci-content/org.ttl
html/collection/cci/cci-content/platform.html
html/collection/cci/cci-content/platform.json
html/collection/cci/cci-content/platform.rdf
html/collection/cci/cci-content/platform.ttl
html/collection/cci/cci-content/platformGrp.html
html/collection/cci/cci-content/platformGrp.json
html/collection/cci/cci-content/platformGrp.rdf
html/collection/cci/cci-content/platformGrp.ttl
html/collection/cci/cci-content/platformProg.html
html/collection/cci/cci-content/platformProg.json
html/collection/cci/cci-content/dataType.rdf
html/collection/cci/cci-content/platformProg.rdf
html/collection/cci/cci-content/platformProg.ttl
html/collection/cci/cci-content/procLev.html
html/collection/cci/cci-content/procLev.json
html/collection/cci/cci-content/procLev.rdf
html/collection/cci/cci-content/procLev.ttl
html/collection/cci/cci-content/product.html
html/collection/cci/cci-content/product.json
html/collection/cci/cci-content/product.rdf
html/collection/cci/cci-content/product.ttl
html/collection/cci/cci-content/sensor.html
html/collection/cci/cci-content/sensor.json
html/collection/cci/cci-content/sensor.rdf
html/collection/cci/cci-content/sensor.ttl
html/ontology/cci/cci-content/cci-ontology.json
html/ontology/cci/cci-content/cci-ontology.rdf
html/ontology/cci/cci-content/cci-ontology.ttl
html/ontology/cci/cci-content/index.html
html/scheme/cci/cci-content/cci.json
html/scheme/cci/cci-content/cci.rdf
html/scheme/cci/cci-content/cci.ttl
html/scheme/cci/cci-content/dataType.html
html/scheme/cci/cci-content/dataType.json
html/scheme/cci/cci-content/dataType.rdf
html/scheme/cci/cci-content/dataType.ttl
html/scheme/cci/cci-content/ecv.html
html/scheme/cci/cci-content/ecv.json
html/scheme/cci/cci-content/ecv.rdf
html/scheme/cci/cci-content/ecv.ttl
html/scheme/cci/cci-content/freq.html
html/scheme/cci/cci-content/freq.json
html/scheme/cci/cci-content/freq.rdf
html/scheme/cci/cci-content/freq.ttl
html/scheme/cci/cci-content/org.html
html/scheme/cci/cci-content/org.json
html/scheme/cci/cci-content/org.rdf
html/scheme/cci/cci-content/org.ttl
html/scheme/cci/cci-content/platform.html
html/scheme/cci/cci-content/platform.json
html/scheme/cci/cci-content/platform.rdf
html/scheme/cci/cci-content/platform.ttl
html/scheme/cci/cci-content/platformGrp.html
html/scheme/cci/cci-content/platformGrp.json
html/scheme/cci/cci-content/platformGrp.rdf
html/scheme/cci/cci-content/platformGrp.ttl
html/scheme/cci/cci-content/platformProg.html
html/scheme/cci/cci-content/platformProg.json
html/scheme/cci/cci-content/platformProg.rdf
html/scheme/cci/cci-content/platformProg.ttl
html/scheme/cci/cci-content/procLev.html
html/scheme/cci/cci-content/procLev.json
html/scheme/cci/cci-content/procLev.rdf
html/scheme/cci/cci-content/procLev.ttl
html/scheme/cci/cci-content/product.html
html/scheme/cci/cci-content/product.json
html/scheme/cci/cci-content/product.rdf
html/scheme/cci/cci-content/product.ttl
html/scheme/cci/cci-content/sensor.html
html/scheme/cci/cci-content/sensor.json
html/scheme/cci/cci-content/sensor.rdf
html/scheme/cci/cci-content/sensor.ttl
model/cci-cf-mapping.ttl
model/cci-dataType-collection.ttl
model/cci-dataType-scheme.ttl
model/cci-datatype.ttl
model/cci-ecv-collection.ttl
model/cci-ecv-scheme.ttl
model/cci-ecv.ttl
model/cci-freq-collection.ttl
model/cci-freq-scheme.ttl
model/cci-freq.ttl
model/cci-gcos-mapping.ttl
model/cci-ontology.ttl
model/cci-org-collection.ttl
model/cci-org-scheme.ttl
model/cci-org.ttl
model/cci-platform-collection.ttl
model/cci-platform-group-mapping.ttl
model/cci-platform-programme-mapping.ttl
model/cci-platform-scheme.ttl
model/cci-platform-sensor-mapping.ttl
model/cci-platform.ttl
model/cci-platformGrp-collection.ttl
model/cci-platformGrp-scheme.ttl
model/cci-platformgrp.ttl
model/cci-platformProg-collection.ttl
model/cci-platformProg-scheme.ttl
model/cci-platformprog.ttl
model/cci-procLev-collection.ttl
model/cci-proclev-mapping.ttl
model/cci-procLev-scheme.ttl
model/cci-proclev.ttl
model/cci-product-collection.ttl
model/cci-product-scheme.ttl
model/cci-product.ttl
model/cci-sensor-collection.ttl
model/cci-sensor-scheme.ttl
model/cci-sensor.ttl
vocabularies/generate_ttl/__pycache__/__init__.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/cci_mapping_cci_cf.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/collection.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/concept.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/mapping.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/owl.cpython-38.pyc
vocabularies/generate_ttl/__pycache__/scheme.cpython-38.pyc
vocabularies/html/__pycache__/__init__.cpython-38.pyc
